* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* inizio debug */



.li_sopra {
    font-size: 1.5rem;
}


.li_sotto {
    margin-top: 3rem;
}
.ul_sopra li {
    padding: 10px; 
}

.libreria {
    width: 100%;
}

.playlist {
    
    background-color: red;
    display: none;
    height: 200px;
    font-size: 1rem;
}

.playlist span {
    display: block;
}
.img {
    max-width: 150px;
    height: 150px;
    background-color: yellow;
}

.barra_bassa {
    background-color: yellow;
    height: 100px;
 }

/* 
fine debug */

/* inizio utility */

:root {
    --gray-f: #2c2c2c;
    --main-c: #1b1f26;
    --black: #000;
    --white: #fff;
    --gray-font: #6d6d6d;
}

.flex {
    display: flex;
}



/* fine utility */

main {
    height: calc(100vh - 100px);
    background-color: var(--main-c);
    overflow: hidden;
}

.barra_ricerca {
    width: 50px;
    background-color: var(--black);
    height: calc(100vh - 100px);
    min-height: 450px;
    flex-wrap: wrap;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.barra_alta {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.image {
    height: 30px;
    vertical-align: middle;
}

.crea_p h4 {
    color: var(--white);
    padding: 1rem 0 0.5rem;
}
.icon_img {
    color: var(--gray-font);
    font-size: 2.5rem;
    vertical-align: middle;
    padding-right: 0.2rem;
}
.font_big {
    height: 50px;
    margin-bottom: 2rem;
}

.desc_nav {
    display: block;
    text-decoration: none;
    color: var(--white);
    padding: 10px 0;
    font-size: 1rem;
}

 .vertical_a {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
 }

 .g_color {
    color: var(--gray-font);
 }

 .border {
    border-left: 3px solid lime;
    margin-left: -1rem;
    
 }
 .padding_left {
    padding-left: 1rem;
 }

 #playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }

 .lista_p {
    padding-top: 1rem;
    line-height: 2rem;
    overflow: scroll;

 }

 
.esplora_header {
 height: 100px;
 background-color: rgba(0, 0, 0, 0.5);
 width: calc(100% - 50px);
 position: fixed;
 top: 0;
 left: 50px;
}

.btn {
    display: block;
    text-align: right;
    line-height: 100px;
}

#esplora {
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
}
.categorie {
    padding-top: 100px;
}

.categorie_list {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: auto;
}
.categorie_list li {
    width: calc(100% / 4);
    margin-bottom: 2rem;
}

.recenti h2 {
    padding-bottom: 20px;
}

.recenti_list {
    flex-wrap: wrap;
}

.brano {
    width: 50%;
    padding: 10px;
}
footer {
    background-color: var(--gray-f);
    height: 100px;
   
    
}

.container {
    width: 100%;
    height: 100px;
}

.col {
    width: calc(100% / 3);
    height: 100px;
    border: dashed 2px white;
    padding: 10px;
}

@media screen and (min-width: 576px) {
    .barra_ricerca {
        width: 200px;
    }
    .esplora_header {
        width: calc(100% - 200px);
        left: 200px;
    }
    .categorie_list li {
        width: calc(100% / 3);
    }
    .playlist {
        display: flex;
    }
       
}

@media screen and (min-width: 768px) {
    .col:nth-child(even) {
        width: calc(100% / 2);
    }
    .col:nth-child(odd) {
        width: calc(100% / 4);
    }
    .categorie_list li {
        width: calc(100% / 5);
    }
    .brano {
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .categorie_list li {
        width: calc(100% / 6);
    }
    .brano {
        width: calc(100% / 6);
    }
}